<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
         xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
         xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
         xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
         xmlns:desktop4="http://schemas.microsoft.com/appx/manifest/desktop/windows10/4"
         IgnorableNamespaces="uap mp rescap">
  <Identity Name="19073NoahW.Furthermark" Publisher="CN=E3F62FF4-7C63-414E-BB0A-7AF78948ADDD" Version="1.5.26.0" />
  <mp:PhoneIdentity PhoneProductId="b68d966a-93b9-4864-a26d-89b1c6ca5fcb" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>Furthermark</DisplayName>
    <PublisherDisplayName>Noah W.</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Furthermark.App"
                 desktop4:SupportsMultipleInstances="true">
      <uap:VisualElements DisplayName="Furthermark" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="A modern Windows Markdown Editor." BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square310x310Logo="Assets\LargeTile.png" Square71x71Logo="Assets\SmallTile.png">
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.fileOpenPicker">
          <uap:FileOpenPicker>
            <uap:SupportedFileTypes>
              <uap:FileType>.txt</uap:FileType>
              <uap:FileType>.md</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileOpenPicker>
        </uap:Extension>
        <uap:Extension Category="windows.fileSavePicker">
          <uap:FileSavePicker>
            <uap:SupportedFileTypes>
              <uap:FileType>.txt</uap:FileType>
              <uap:FileType>.md</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileSavePicker>
        </uap:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="markdown">
            <uap:SupportedFileTypes>
              <uap:FileType ContentType="text/plain">.md</uap:FileType>
              <uap:FileType ContentType="text/plain">.mdown</uap:FileType>
              <uap:FileType ContentType="text/plain">.markdown</uap:FileType>
            </uap:SupportedFileTypes>
            <uap:DisplayName>Markdown Files</uap:DisplayName>
          </uap:FileTypeAssociation>
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <rescap:Capability Name="confirmAppClose"/>
  </Capabilities>
</Package>